<% flash.each do |message_type, message| %>
  <% if message_type == 'notice' %>
    <p class="alert alert-info alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><%= notice %></p>
  <% elsif message_type == 'alert' %>
    <p class="alert alert-danger alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><%= alert %></p>
  <% else %>
    <p class="alert alert-<%= message_type %> alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><%= message %></p>
  <% end %>
<% end %>
